@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #1C2541;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #465881;
}

::-webkit-scrollbar-track:hover {
  background-color: #1C2541;
}

::-webkit-scrollbar-corner {
  background-color: #485563;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

html {
  background: #485563;
}

@media (max-width: 720px) {
  pre {
    width: calc(100vw - 110px);
  }
}

pre:has(div.codeblock) {
  padding: 0;
  background: #1C2541;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-repeat: no-repeat;
  background-position: right 0.7em top 50%;
  padding-right: 1em;
}

select::-ms-expand {
  display: none;
}

/* Dropdown Arrow */
.icon-arrow-down {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}